@{
    ViewData["Title"] = "Med1cated1";
}

<div id="heroic" class="text-center">
    <div id="scrollspyHeading1" class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="~/lib/img/webdesign.jpg" class="d-block mx-lg-auto img-fluid" alt="Webdev.jpg" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 id="headlinetext" class="display-5 fw-bold lh-1 mb-3">Resume Site for M.Charles</h1>
                <p id="subheadlinetext" class="lead">This resume website was designed by M.Charles. It was built using C#, ASP.NET and the Bootstrap 5 Framework.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <a href="#scrollspyHeading2" class="btn btn-primary btn-lg px-4 me-md-2">About Me</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Me Section/Second Page -->
<div id="scrollspyHeading2" class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">About Me</h1>
        <div class="col-lg-8 mx-auto text-white">
            <p>
                Professional and dedicated IT Support Administrator looking to progress career into Web and App development, <br>
                with recent Implementation and Development department experience in a Field Services company, <br>
                regulated by the Financial Services Authority, with clients in the Lending and Insurance sectors.
                <br><br>
                Previous experience gained across a wide range of sectors including Military Service, Transport Logistics and Security.
                <br><br>
                Specific areas of interest include:
                <br>
                Web and App develpoment / Programming / Cyber Security / Networking / IT Support & Hardware
                <br><br>
                I am currently studying to become a full stack web and app developer using HTML/CSS, C#, ASP.NET, React, Django, Bootstrap and other builds.
            </p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#" class="btn btn-outline-light btn-lg px-4">TOP</a>
            </div>
        </div>
    </div>
</div>

