
@{
    ViewData["Title"] = "Resume";
}

<h1>Resume</h1>

<div id="scrollspyHeading4" class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Resume</h1>
        <div class="col-lg-8 mx-auto text-white">
            <h5>IT  Support Administrator, Junior app and web developer.</h5>
            <br><br><br>

            <div class="resume">
                <h4>PROFESSIONAL EXPERIENCE</h4>
                <br>

                <h5>Claven Group – Lamport, UK. Jan 2023 to present day </h5>

                (Supplier of Specialist Field Services to Financial Services sector)
                <br>

                AEGIS Support Administrator (3 Month FTC)
                <br>
                Reporting to the IT Manager, responsibilities include general IT support (including ‘project’ related issues including system logons, passwords, iPad upgrades and Help Desk queries) for both the external remote Field Agent network and internal departments.
                <br>
                Complying with all GDPR / Data Protection and Information Security principles, in line with company and regulatory requirements.

                <h5>Achievements: </h5>

                Assisting with successful onboarding of new Insurance Client.
                <br>
                Completion of Fixed Asset Register project complying with all hardware, software and data security disposal requirements.

                <br><br><br>

                <h5>Recent qualifications include: </h5>
                (click link for certificates)
                <h6 style="color:rgb(169, 27, 27);">IT Support</h6> <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/VX3T8R5PK8AW">Google IT Support Professional.</a> -
                IT security / Operating systems / System administration & Technical support.
                <br><br><br>

                <h6 style="color: rgb(169, 27, 27);">Mobile Application Development</h6>
                <br>
                <a href="https://www.coursera.org/account/accomplishments/certificate/MMBZYM48NTK8">Introduction to android mobile application development.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/XJW2MCY5GZNE">Back end development.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/XJE8FDQW3SBN">Front end development.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/J7UMH8M2MBHL">Foundations of user experience (UI/UX) design.</a> /
                Principles of UI/UX design. /
                API’s. /
                Databases for back end development.
                <br><br><br>

                <h6 style="color: rgb(169, 27, 27);">Programming Languages.</h6>
                <br>
                <a href="https://www.coursera.org/account/accomplishments/certificate/NUKNAPPQ9NTA">SQL structured query language.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/D498LFKQJQHD">Python 101.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/5RAZXL3RHU2G">Programming in Python.</a> /
                <br><br><br>

                <h6 style="color: rgb(169, 27, 27);">Website design and develpoment</h6>
                <br>
                <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/38TZ4NLQHWZ5">Webdesign.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/RZE2KHVZTQKS">Advanced styling with responsive design.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/KQ662N4QYUXX">HTML and CSS in depth.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/BMQWHVZ6MKZW">Programming with Javascript.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/W64E7UUVJZBN">React basic.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/2SH7CY5QP9L5">Build Your Portfolio Website with HTML and CSS.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/5UC23PRNLQHU">Interactivity with JavaScript.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/BK4GBBK27E6G">HTML5.</a> /
                <a href="https://www.coursera.org/account/accomplishments/certificate/JRDB5Z95FCLL">CSS3.</a> /
                <a href=""></a>Programming fundamentals in Kotlin. /

                <br><br><br>

                <h5>Rebellion Services – Kettering, UK. April 2020 to Jan 2023. </h5>

                Carpentry / Handyman Services.

                Director / Owner.
                <br>

                My responsibilities included all aspects of running my own carpentry company, including marketing, design and layout, undertaking projects, invoicing and accounting, supervising other trades on site.
                <br><br><br>


                <h5>Class 2 HGV Driver, Various Agencies – Northampton, UK. October 2018 to April 2020</h5>
                <br>

                Class 2 driving including delivering caged goods and clothing to department stores, building materials to construction sites and cold/frozen goods to shops.
                <br><br><br>


                <h5>
                    Mick George Ltd. - Ringstead, UK. May 2018 to October 2018

                    Tipper Driver
                </h5>

                Driving Class 2,  32 ton tippers on and off road all over the country, making deliveries in a safe and timely manner.
                <br><br><br>


                <h5> Self Employed - Kettering, UK. August 2004 to April 2018 </h5>

                (Security, Dog Handler and Door Supervisor)

                My responsibilities included all aspects of security including running site security, conducting venue and site audits, interviewing and recruiting new staff, dealing with staff issues, invoices and general administrative duties.
                <br><br><br>


                <h5>British Army - UK. April 2001 to August 2004 </h5>

                (Technical Storeman and Combat Medical Technician)

                My responsibilities included default army duties including rugby matches and medical cover for events as well as running different stores areas (expense, cash, tools and equipment) and ordering and maintaining stock levels.
                <br>
                Gained qualifications in emergency and primary healthcare and advanced first aid.
                <br><br><br>


                <h5>MILITARY SERVICE </h5>

                Branch : Ramc - Royal Army Medical Corp.
                <br>

                UK
                <br>
                Rank – Private

                January 2000 to August 2004
            </div>
            
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="#" class="btn btn-outline-light btn-lg px-4">Top</a>
            </div>
        </div>
    </div>
</div>